@import "../../styles/vars";

.footer {
  width: 100%;
  background-color: transparent;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 11px;
  color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer img {
    height: 100px;
}
